#container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.cartao {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 15px;
    max-width: 21em;
    text-align: justify;
    padding: 0 10px;
}

a {
    margin-bottom: 5px;
}