#atleta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#atleta > h1 {
    text-align: center;
}

.pagina {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px){
        flex-direction: row;
        align-items: flex-start;
    }
}

.info > p {
    font-size: 20px;
}